# Build results
bin/
obj/
out/

# Visual Studio / VS Code
.vscode/
.vs/

# User-specific files
*.user
*.suo

# Settings files
appsettings.Development.json

# Logs
*.log
logs/

# NuGet
*.nupkg
*.snupkg
packages/
.nuget/

# Node
node_modules/

# Rider / JetBrains
.idea/

# OS files
.DS_Store
Thumbs.db

# Resharper
_ReSharper*/
*.DotSettings.user

# Coverage
coverage/
*.coverage
*.coveragexml

# Publish output
publish/

# Data
Data/

# Development certificates
DevelopmentKeys/
